* {
	font-family: 'Montserrat', sans-serif;
}
body {
	overflow-x: hidden;
}
.bg-beige {
	background-color: rgba(233,200,147, 0.7) !important;
	transition: 1s all;
	/*IE 6-10 not support*/
}
.bg-yellow {
	background-color: rgba(244, 161, 66, 0.7) !important;
	transition: 1s all;			
	/*IE 6-10 not support*/
}
.bg-watermelon {
	background-color: rgba(244, 77, 65, 0.7) !important;
	transition: 1s all;			
	/*IE 6-10 not support*/
}
.timeline {
	overflow: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow: -moz-scrollbars-none;
}
#skill-box {
	overflow: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow: -moz-scrollbars-none;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(244, 161, 66, 0.8);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(244, 161, 66, 0.8);
  cursor: pointer;
}

@media screen and (min-width: 997px) {
	#main-box {
		margin-top: 10vh;
		height: 80vh;
		padding: 0;
	}
	#link-bar {
		position: absolute;
		left: 0;
		width: 5%;
		height: 80vh;
	}
	#link-bar i {
		font-size: 180%;
		padding: 25%;
		color: rgba(233,200,147, 1);
	}
	#link-bar i:hover {
		background-color: rgba(233,200,147, 0.8);
		color: white;
	}
	#img-box {
		position: absolute;
		background-image: url('../images/bg-1.png');
		background-size: cover;
		width: 40%;
		height: 80vh;
		left: 5%;
	}
	#content {
		position: absolute;
		height: 80vh;
		width: 55%;
		left: 45%;

		display: flex;
	  	justify-content: center;
	  	flex-direction: column;
		overflow: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow: -moz-scrollbars-none;

	}
	#menu {
		cursor: pointer;
		position: absolute;
		bottom: 0;
	}
	.focus {
		color: rgb(152,75,67);
	}
	.timeline-content ul {
		list-style-position: outside;
		text-align: left;
	}
	.timeline-content ul li {
		margin-top: 10px;
	}
	.position {
		margin-top: 10vh; 
		margin-bottom: 10vh; 
		height: 80vh; 
		padding: 0;
	}
	#img-box-2 {
		background-image: url('../images/bg-2.jpg');
		background-size: cover;
		background-position: center;
		/*IE 6-8 not support*/
		position: absolute;
		width: 40%;
		height: 80vh;
		left: 60%;
	}
	#img-box-2 h1 {
		position: relative;
		top: 40%;
	}
	#img-cover {
		position: absolute;
		width: 40%;
		height: 80vh;
		left: 60%;
		background-color: rgba(244, 161, 66, 0.3);	
	}
	#skill-box {
		position: absolute;
		width: 60%;
		left: 0;
		height: 80vh;
	}
	.inputLabel {
		color: rgba(244, 161, 66, 1);
		font-size: 1.2em;
		font-weight: 400;
		display: block;
	}
	input[type="range"] {
		width: 80%;
		position: relative;
		left: 5%;
	}
	.percentLabel {
		width: 15%;
		height: auto;
		background-color: rgba(244, 161, 66, 1);
		color: white;
		position: relative;
		left: 15%;
	}
	#timeline-cover {
		width: 100%;
		padding: 0;
		height: 80vh;
		position: absolute;
		left: 0;
		background-color: rgba(244, 77, 65, 0.2);
	}
	.timeline {
		width: 50%;
		height: 100%;
		top: 0;
		padding: 0;
		position: absolute;
		border:  none;
		overflow: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow: -moz-scrollbars-none;
	}
	.timeline:hover {
		cursor: pointer;
	}
	.year-box {
		position: relative;
		top: 45%;
	}
	.year-title {
		border-top: solid 1px rgba(244, 77, 65, 0.7);
		border-bottom: solid 1px rgba(244, 77, 65, 0.7);
		color: rgba(244, 77, 65, 0.7);
		font-size: 700;
		font-size: 1.5em;
	}
	.activated {
		background-color: white;
		transition: 0.8s;
	}
	.timeline-content {
		position: relative;
		top: 40%;
		display: none;
	}
	.inputbox {
		width: 90%;
	}
}

@media screen and (max-width: 996px)  {
	#main-box {
		margin-top: 10vh;
		height: 80vh;
		padding: 0;
	}
	#link-bar {
		width: 100%;
		height: 8%;
		z-index: 99;
		text-align: right;
	}
	#link-bar i {
		font-size: 200%;
		padding: 1%;
		color: rgba(233,200,147, 1);
	}
	#link-bar i:hover {
		background-color: rgba(233,200,147, 0.8);
		color: white;
	}
	#img-box {
		position: absolute;
		background-image: url('../images/bg-1.png');
		background-size: cover;
		width: 40%;
		height: 80vh;
		left: 0;
		top: 0;
	}
	#content {
		position: absolute;
		height: 80vh;
		width: 55%;
		left: 40%;
		top: 10%;

		display: flex;
	  	justify-content: center;
	  	flex-direction: column;
		overflow: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow: -moz-scrollbars-none;
	}
	.focus {
		color: rgb(152,75,67);
	}

	.timeline-content ul {
		list-style-position: outside;
		text-align: left;
	}
	.timeline-content ul li {
		margin-top: 10px;
	}
	.position {
		margin-top: 10vh; 
		margin-bottom: 10vh; 
		height: 80vh; 
		padding: 0;
	}
	#img-box-2 {
		background-image: url('../images/bg-2.jpg');
		background-size: cover;
		background-position: center;
		/*IE 6-8 not support*/
		position: absolute;
		width: 40%;
		height: 80vh;
		left: 60%;
	}
	#img-box-2 h1 {
		position: relative;
		top: 40%;
	}
	#img-cover {
		position: absolute;
		width: 40%;
		height: 80vh;
		left: 60%;
		background-color: rgba(244, 161, 66, 0.3);	
	}
	#skill-box {
		position: absolute;
		width: 60%;
		left: 0;
		height: 80vh;
	}
	.inputLabel {
		color: rgba(244, 161, 66, 1);
		font-size: 1.2em;
		font-weight: 400;
		display: block;
	}
	input[type="range"] {
		width: 80%;
		position: relative;
		left: 5%;
	}
	.percentLabel {
		width: 15%;
		height: auto;
		background-color: rgba(244, 161, 66, 1);
		color: white;
		position: relative;
		left: 10%;
	}
	#timeline-cover {
		width: 100%;
		padding: 0;
		height: 80vh;
		position: absolute;
		left: 0;
		background-color: rgba(244, 77, 65, 0.2);
	}
	.timeline {
		width: 50%;
		height: 100%;
		top: 0;
		padding: 0;
		position: absolute;
		border:  none;
		overflow: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow: -moz-scrollbars-none;
	}
	.timeline:hover {
		cursor: pointer;
	}
	.year-box {
		position: relative;
		top: 45%;
	}
	.year-title {
		border-top: solid 1px rgba(244, 77, 65, 0.7);
		border-bottom: solid 1px rgba(244, 77, 65, 0.7);
		color: rgba(244, 77, 65, 0.7);
		font-size: 700;
		font-size: 1.5em;
	}
	.activated {
		background-color: white;
		transition: 0.8s;
	}
	.timeline-content {
		position: relative;
		top: 55%;
		display: none;
	}
	.inputbox {
		width: 100%;
	}

}
@media screen and (max-width: 768px) {
	#main-box {
		height: 80vh;
		margin-top: 10vh;
	}
	#link-bar {
		left: 0;
		width: 100%;
		height: 8%;
		position: relative;
	}
	#link-bar i {
		font-size: 200%;
		padding: 0.5%;
		color: rgba(233,200,147, 1);
	}
	#link-bar i:hover {
		background-color: rgba(233,200,147, 0.8);
		color: white;
	}
	#img-box {
		background-image: url('../images/bg-1.png');
		background-size: cover;
		background-position: center;
		width: 50%;
		height: 40%;
		left: 25%;
		border: solid 2px rgba(233,200,147, 0.8);
		position: relative;
	}	
	#content {
		left: 0;
		top: 0;
		height: 50%;
		width: 100%;
		overflow: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow: -moz-scrollbars-none;
		position: relative;
	}
	.inputbox {
		width: 100%;
	}
}

@media screen and (max-width: 530px)  {
	#main-box {
		height: 90vh;
		margin-top: 10%;
		margin-bottom: 10%;
	}
	#img-box {
		background-image: url('../images/bg-1.png');
		background-size: cover;
		background-position: center;
		width: 50%;
		height: 30vh;
		left: 25%;
		margin-top: 10px;
		margin-bottom: 10px;
		border: solid 2px rgba(233,200,147, 0.8);
		position: auto;
	}
	#img-box-2 {
		background-image: url('../images/bg-2.jpg');
		background-size: cover;
		background-position: center;
		/*IE 6-8 not support*/
		position: absolute;
		width: 100%;
		height: 25vh;
		left: 0;
		top: 0;		
	}
	#img-box-2 h1 {
		position: relative;
	}
	#img-cover {
		position: absolute;
		width: 100%;
		height: 25vh;
		left: 0;
		top: 0;
		background-color: rgba(244, 161, 66, 0.3);	
	}
	#skill-box {
		position: absolute;
		width: 100%;
		left: 0;
		top: 25vh;
		height: 55vh;
	}
	#content {
		overflow: visible;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow: -moz-scrollbars-none;
	}
	.inputbox {
		width: 90%;
		padding: 0;
	}
	#skill-box {
		padding: 5% !important;
		left: auto;
	}
	.inputLabel {
		color: rgba(244, 161, 66, 1);
		font-size: 1.2em;
		font-weight: 400;
		display: block;
	}
	input[type="range"] {
		width: 80%;
		position: relative;
		left: auto;
	}
	.percentLabel {
		width: 15%;
		height: auto;
		background-color: white;
		color: rgba(244, 161, 66, 1);
		position: relative;
		padding: 0;
		font-weight: 400;
	}
}